<?xml version="1.0" encoding="utf-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-4.0.xsd
	http://www.springframework.org/schema/mvc
	http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd"
	default-autowire="no" default-lazy-init="true">

	<!-- 组件扫描 -->
	<context:component-scan base-package="com.pnmp.desktop.webapp" />

	<!-- 注解驱动 -->
	<mvc:annotation-driven>
		<mvc:argument-resolvers>
			<bean class="com.pnmp.common.annotation.RequestJsonParamMethodArgumentResolver" />
		</mvc:argument-resolvers>
		<mvc:message-converters register-defaults="true">
			<bean class="org.springframework.http.converter.ByteArrayHttpMessageConverter" />
			<bean class="org.springframework.http.converter.FormHttpMessageConverter" />
			<bean class="org.springframework.http.converter.xml.SourceHttpMessageConverter" />
			<bean class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter">
				<property name="objectMapper">
					<bean class="com.pnmp.common.mapper.ObjectMapper">
						<property name="prettyPrint" value="true" />
						<property name="serializationConfig.serializationInclusion">
							<value type="org.codehaus.jackson.map.annotate.JsonSerialize.Inclusion">NON_NULL</value>
						</property>
					</bean>
				</property>
				<property name="supportedMediaTypes">
					<list>
						<value>text/html;charset=UTF-8</value>
					</list>
				</property>
			</bean>
			<bean class="org.springframework.http.converter.StringHttpMessageConverter" />
		</mvc:message-converters>
	</mvc:annotation-driven>

	<!-- 上传文件 -->
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="maxUploadSize" value="10485760" />
	</bean>

	<!-- 视图分析 -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="viewClass" value="org.springframework.web.servlet.view.JstlView"></property>
		<property name="prefix" value="/WEB-INF/view/"></property>
		<property name="suffix" value=".jsp"></property>
	</bean>

	<!-- 资源相关 -->
	<mvc:resources location="/WEB-INF/css/" mapping="/css/**" />
	<mvc:resources location="/WEB-INF/font/" mapping="/font/**" />
	<mvc:resources location="/WEB-INF/html/" mapping="/html/**" />
	<mvc:resources location="/WEB-INF/image/" mapping="/image/**" />
	<mvc:resources location="/WEB-INF/js/" mapping="/js/**" />
	<mvc:resources location="/WEB-INF/plugin/" mapping="/plugin/**" />
	<mvc:resources location="/WEB-INF/template/" mapping="/template/**" />

	<!-- 拦截器相关 -->
	<mvc:interceptors>
		<!-- 时间戳拦截器 -->
		<mvc:interceptor>
			<mvc:mapping path="xxx" />
			<bean class="com.pnmp.desktop.webapp.interceptor.TimestampInterceptor" />
		</mvc:interceptor>

		<!-- 签名拦截器 -->
		<mvc:interceptor>
			<mvc:mapping path="xxx" />
			<bean class="com.pnmp.desktop.webapp.interceptor.SignatureInterceptor" />
		</mvc:interceptor>

		<!-- 登录拦截器 -->
		<mvc:interceptor>
			<mvc:mapping path="xxx" />
			<bean class="com.pnmp.desktop.webapp.interceptor.LoginInterceptor">
				<property name="tourismProxy" ref="tourismProxy" />
			</bean>
		</mvc:interceptor>

		<!-- 权限拦截器 -->
		<mvc:interceptor>
			<mvc:mapping path="xxx" />
			<bean class="com.pnmp.desktop.webapp.interceptor.RightInterceptor">
				<property name="xxx" ref="xxx" />
			</bean>
		</mvc:interceptor>
	</mvc:interceptors>
</beans>
